<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gevyamorganize_firebaseex124">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GevYamOrganize_FirebaseEx124">
        <activity
            android:name=".OrdersAdd"
            android:exported="false" />
        <activity
            android:name=".MealsShow"
            android:exported="false" />
        <activity
            android:name=".MealsAdd"
            android:exported="false" />
        <activity
            android:name=".FoodSupplierUpdate"
            android:exported="false" />
        <activity
            android:name=".FoodSupplierShow"
            android:exported="false" />
        <activity
            android:name=".FoodSupplierAdd"
            android:exported="false" />
        <activity
            android:name=".EmployeesUpdate"
            android:exported="false" />
        <activity
            android:name=".EmployeesShow"
            android:exported="false" />
        <activity
            android:name=".EmployeesAdd"
            android:exported="false" />
        <activity
            android:name=".Credits"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>